{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% block cssstyle %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock cssstyle %}
{% block title %}Enter new password{% endblock title %}


{% block content %}
<div class="position-relative">
    <div class="position-absolute top-100 start-50 translate-middle-x" style="margin-top:10rem;">
        <div class="bg-light p-5 rounded mt-10 shadow">
    <h1>Set a new password.</h1>
    <form method="post">
        {% csrf_token %}
       

        {{ form.new_password1.label_tag }}
        <br/>
        <div class="password-toggle">
        {{ form.new_password1|placeholder:'enter new password here'|style_width_100 }}
            <i class="far fa-eye-slash password-toggle" id="togglePassword"></i>
        </div >
        {{ form.new_password1.help_text }}
        <p class="help">{{ field.help_text|safe }}</p>
        {{ form.new_password2.label_tag }}
        <br/>
        <div class="password-toggle">
            {{ form.new_password2|placeholder:'enter new password again here'|style_width_100 }}
                <i class="far fa-eye-slash password-toggle" id="togglePassword2"></i>
            </div >
        <br/><br/>
        <input class="btn btn-success" type="submit" value="Change my password">
    </form>
    </div></div></div>
    
    <script src="{% static 'js/set_password.js' %}"></script>
{% endblock content %}