
/* Hides navbar/btn-group that is made for smaller screens */
@media only screen and (min-width: 767px){
    #mobile-navbar{
        display: none!important;
    }
    #sm-btn-container{
        display: none!important;
    }
}
/* Hides navbar/btn-group that is made for larger screens */
@media only screen and (max-width: 767px){
    #big-navbar{
        display: none;
    }
    #lg-btn-container{
        display: none!important;
    }
}
/* Hides column set up for laptop/desktop displays */
@media only screen and (max-width: 1023px){
    .col-3{
        display: none;
    }
    .col-2{
        display:none;
    }
    .col-6{
        width: 100%;
    }
}
/* Utilities */
.text-dec-none{
    text-decoration: none!important;
}
/* BASE HTML */
body{
    background-color: #030303;
    background-image: url("../images/stars-1654074.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.search-bar{
    display: flex;
    margin: 0 auto;
    width: 75%;
}
.search-container{
    flex:1;
}
.user {
    margin-left: 4%;
    width: 10%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media(min-width:768px){
    .user{
        width: 45px;
        margin-left: 2%;
        margin-right: 10px;
    }
}
.user-img{
    width: 100%;
}
.dropdown-menu[data-bs-popper]{
    right: 0;
    left: -50px;
}
.dropdown-menu{
    min-width: 100%!important;
}
.dropdown-toggle::after{
    content: none!important;
}
.fa-angle-down{
    font-size: 12px;
    position: absolute;
    bottom: 0;
}
/* HOME HTML */
.container{
    padding-left: 0;
    padding-right: 0;
}
@media(min-width:768px){
    .container{
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
    }
    .row{
        margin: 0;
    }
}
.btn-group{
    width: 100vw;
}
@media(min-width:768px){
    .btn-group{
        margin-top: 5%;
    }
}
.btn-group>.btn:nth-child(2){
    border-left: 2px solid white; 
    border-right: 3px solid white; 
}
.btn-group .btn{
    border-radius: 0;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 0%;
}
.card{
    background-color: rgb(26, 26, 27);
    color: white;
    margin-top: 5%;
    border: 1px solid #ffffff45;
}
.vote-text{
    margin: 0 5%;
}
.comment-text{
    margin-left: 5%;
}
.post-footer{
    justify-content: space-between;
    align-items: flex-end;
}
.row{
    align-items: baseline;
}
.col-6{
    flex: 1 auto;
}
.group-img{
    width: 24px;
}
.list-group-item{
    background-color: rgb(26, 26, 27);
    color: rgba(255, 255, 255, 0.794);
    border: 1px solid #ffffff45;
}
.list-group-item:first-of-type{
    text-align: center;
    background-image: url("../images/cosmos-5809271_640.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.274);
    height: 50px;
    color: white;
    
}
.list-group-item a{
    text-decoration: none;
    color: whitesmoke;
}
.list-group-item a:hover{
    color: rgb(218, 215, 212);
}
a i{
    color: white;
    font-size: 1.4rem;
}
.arrow-up:hover,
.arrow-up:visited{
    color: rgb(0, 153, 255);
}
.arrow-down:hover{
    color: rgb(252, 70, 70);
}
.comment-btn{
    align-items: center;
}