.textarea{
    width:100%;
}
.textinput{
    width:100%;
}

.controls a{
    width:100%
}
#id_body{
    width:100%;
}
#id_image{
    width:100%;
}
#id_title{
    width:100%;
}
#id_username{
    width:100%;
}
#id_password, #id_password1, #id_password2{
    width: 100%;
}
#id_email{
    width: 100%;
}
#id_age{
    width:100%;
}
#id_comment{
    width: 100%;
    height: 250px;
}
.form-image{
    width: 350px;
    height: 250px;
}
.password-toggle{
    display: flex;
}
/* Login screen */
.login-title{
    font-size: 5rem;
    font-weight: 600;
}
.login-btn{
    margin-top: 16px;
}
.password-toggle i{
    margin: 7px 0 0 -30px ;
    cursor: pointer;

}