{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- btn container for screens smaller than 768px -->
<div class="btn-container" id="sm-btn-container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark btn-spacing">Home</button>
        <button type="button" class="btn btn-dark btn-spacing">Trending</button>
        <button type="button" class="btn btn-dark btn-spacing">New</button>
    </div>
</div>
<div class="container">
    
    <div class="row">
        <div class="col-2"></div>
      <div class="col-6">
        <div class="container">
            <!-- Btns for larger screens over 768px -->
            <div class="btn-container" id="lg-btn-container">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-dark btn-spacing">Home</button>
                    <button type="button" class="btn btn-dark btn-spacing">Trending</button>
                    <button type="button" class="btn btn-dark btn-spacing">New</button>
                </div>
            </div>
    {% for article in object_list %}
    <div class="card" style="width: 100%;">
        <div class="card-body">
          <h6 class="card-group"> By: {{ article.author }} | {{ article.date }}</h6>
          <h4 class="card-title">{{ article.title }}</h4>
          <p class="card-text">{{ article.body|safe|truncatechars:140 }}</p>
          <img src="{{ article.image.url }}" alt="{{ article.title }}">
          <div class="post-footer d-flex">
                <div class="vote-container d-flex">
                    <a href="#"><i class="far fa-arrow-alt-circle-up arrow-up"></i></a>
                        <h6 class="vote-text">Vote</h6>
                    <a href="#"><i class="far fa-arrow-alt-circle-down arrow-down"></i></a>
                </div>

                <div class="comments-container ">
                    <button 
                    type="button" 
                    class="btn btn-outline-light d-flex comment-btn">
                        <i class="far fa-comment-alt"></i>
                        <h6 class="comment-text">Comments</h6>
                    </button>
                </div>
          </div>
        </div>
      </div>
      {% endfor %}

</div>
      </div>
      <div class="col-3">
        <ul class="list-group">
            <li class="list-group-item">New Communities</li>
            <li class="list-group-item">
                <a href="#">
                    <img class="group-img" 
                    src="{% static 'images/default_pic.png' %}" 
                    alt="default image"> 
                    TMT/Community name
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <img class="group-img" 
                    src="{% static 'images/default_pic.png' %}" 
                    alt="default image"> 
                    TMT/Community name
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <img class="group-img" 
                    src="{% static 'images/default_pic.png' %}" 
                    alt="default image"> 
                    TMT/Community name
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <img class="group-img" 
                    src="{% static 'images/default_pic.png' %}" 
                    alt="default image"> 
                    TMT/Community name
                </a>
            </li>
          </ul>
      </div>
    </div>
  </div>


{% endblock content %}